/* Primary text color  / NAVY BLUE / #2E2F42; */
/* Secondary text color / SLATE /  #434455;*/
/* Accent colors: white #FFFFFF, IRIS #4D5AE5  */

/* Background color: white #FFFFFF*/
/* Secondary background color: #2E2F42; */

:root {
  --main-text-color: #434455;
  --second--text-color: #2e2f42;
  --accent-sait-color: #4d5ae5;
  --main-hover-color: #404bbf;
  --btn-color: #ffffff;
  --typical-lh: 1.5;
  --typical-ls: 0.02em;

  --transition-tf: cubic-bezier(0.4, 0, 0.2, 1);

  /* --outline: 1px solid tomato; */
}

body {
  background-color: #ffffff;
  color: var(--main-text-color);
  font-family: "Roboto", sans-serif;
}

address {
  font-style: normal;
  margin: 0;
}

/* -----------------Website utilities-------------------- */
.line {
  text-decoration: none;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --------------------Header------------------ */

.page-header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e7e9fc;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-box {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

/* --------------Logo styles-------------------- */

.logo {
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--second--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-sait-color);
}

/* --------------Site nav--------------------- */

.header-box-nav {
  display: flex;
}

.site-nav {
  display: flex;
  margin-left: 76px;
}

.site-nav-item {
  display: block;

  font-weight: 500;
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: var(--typical-ls);
}

.site-nav-link {
  display: block;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--second--text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-tf);

}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--main-hover-color);
}

.site-nav-link:active {
  color: var(--main-hover-color);
}

.site-nav .site-nav-item:not(:last-child) {
  margin-right: 40px;
}

.contacts {
  display: flex;
}

.contacts-item {
  display: block;
  margin: 0;
}

.contacts-item:not(:last-child) {
  margin-right: 40px;
}

.contacts-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;

  color: var(--main-text-color);
  font-size: 16px;
  line-height: var(--typical-lh);
  font-style: normal;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-tf);
}

.contacts-link:hover,
.contacts-link:focus,
.contacts-link:active {
  color: var(--main-hover-color);
}

.page-accent {
  color: var(--accent-sait-color);
}

.current {
  color: var(--main-hover-color);
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--main-hover-color);
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

/* -------------Hero styles------------- */

.hero-background {
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-bg.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  height: 600px;
  padding-bottom: 188px;
  padding-top: 188px;

  background-color: var(--second--text-color);
  color: #ffffff;
  text-align: center;
}

.hero-title {
  margin: auto;
  margin-bottom: 48px;

  max-width: 500px;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: var(--typical-ls);
}

.button {
  background-color: var(--accent-sait-color);
  color: var(--btn-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--typical-lh);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  cursor: pointer;
  width: 169px;
  height: 56px;
  padding: 16px 32px 16px 32px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-tf);
}

.button:hover,
.button:focus {
  background-color: var(--main-hover-color);
}

/* ------------------Features--------------- */

.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.sections-subtitle {
  display: block;
  margin: 0;
  width: 264px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--typical-ls);
  color: var(--second--text-color);
}
.sections-text {
  margin: 0;
  margin-top: 8px;
  width: 264px;

  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: var(--typical-ls);
}

.features-list {
  display: flex;
  gap: 24px;
}
.features-icon-item{
  padding: 24px 100px 24px 100px;
  margin-bottom: 8px;
  background: #F4F4FD;
  border-radius: 4px;
}
.features-icon {
  
}

/* .features-item:not(:last-child) {
  margin-right: 24px;
} */

/* -------------What are we doing------------- */

.doing-section {
  padding-bottom: 120px;
}

.sections-title {
  margin: 0;
  margin-bottom: 72px;

  font-size: 36px;
  line-height: 1.1;
  letter-spacing: var(--typical-ls);
  text-transform: capitalize;
  color: var(--second--text-color);
  text-align: center;
}
.doing-img {
  display: flex;
  margin: 0;
  gap: 24px;
}

.img-style {
  display: block;
  border: 1px solid #e7e9fc;
}

/* .img-item:not(:last-child) {
  margin-right: 24px;
} */


/* --------------------Team--------- */

.team-section {
  padding-top: 120px;
  padding-bottom: 120px;

  background: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}
.team-cards {
  margin: 0;

  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: 264px;
}

/* .team-cards:not(:last-child) {
  margin-right: 24px;
} */

.team-persons {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-subtitle {
  margin: 0;
  text-align: center;
}

.team-text {
  margin: 0;
  margin-top: 8px;
  text-align: center;
  margin-bottom: 12px;
}

.team-photo {
  display: block;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-tf);
}

.team-soc-icon {
  fill:#F4F4FD;
}

.team-soc-link:is(:hover, :focus) {
  background-color: #404BBF;
}
/* ---------------Customers-------------- */

.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
}
.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8E8F99;

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-tf);
}
.customers-icon {
  fill:currentColor;
  
}

.customers-link:is(:hover, :focus) {
  border-color: #404BBF;
  color: #404BBF;
}

/* ----------------Footer ----------*/

.site-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--second--text-color);
  height: 310px;
}

.logo-footer {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;

  color: var(--second--text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
}

.logo-light {
  color: #f4f4fd;
}

.footer-text {
  margin: 0;
  width: 264px;

  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: var(--typical-ls);
  color: #e7e9fc;
}

.footer-style {
  display: flex;
  align-items: baseline;
}

.footer-logo{
  margin-right: 120px;
}

.footer-social{

}
.footer-social-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.5;
  color: #FFFFFF;
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F4F4FD;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-tf);
}

.footer-soc-icon {
  fill:currentColor;
}

.footer-soc-link:is(:hover, :focus) {
  background-color: #31D0AA;
}

.footer-form {
  margin-left: 80px;
  
}

.footer-subscribe-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.footer-subscribe-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2.0;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;
}

.footer-subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-btn {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background-color: var(--accent-sait-color);
  border-color: transparent;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-tf);
}

.footer-subscribe-btn:is(:hover, :focus) {
  background-color: var(--main-hover-color);
}


.footer-subscribe-icon {
  fill:currentColor;
  margin-left: 16px;
}


/* ---------------Modal-------------- */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms var(--transition-tf), visibility 250ms var(--transition-tf) ;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  padding: 24px;
  background-color: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--transition-tf);
  
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
  background: #E7E9FC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  outline: transparent;
  cursor: pointer;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-tf);
}

.modal-close:is(:hover, :focus) {
  color: #FFFFFF;
  background-color: var(--main-hover-color);
}

.modal-title {
  margin: 0 auto;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;

}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;  
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  outline: transparent;
}

.modal-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-input:focus {
  border-color: var(--accent-sait-color);
}

.modal-input:focus + .modal-input-icon{
  fill: var(--accent-sait-color);
}

/* .modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgb(176, 251, 176);
}
.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgb(250, 182, 182);
} */

.modal-btn {
  margin: 0 auto;
  display: block; 
  width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: var(--accent-sait-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
  
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-tf);

}


.modal-btn:is(:hover, :focus) {
  background-color: var(--main-hover-color);
}

.modal-label {
  margin: 0;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: #8E8F99;
}

.modal-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translatey(-50%);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-top: 8px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  outline: transparent;
  resize: none;
}

.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}


.modal-textarea:focus {
  border-color: var(--accent-sait-color);
}

.modal-checkbox-field {
  margin-bottom: 24px;
  margin-top: 13px;
}


/* .modal-checkbox:checked + .modal-label-checkbox::before {
  background-color: #4D5AE5;
  border: none;
  background-image: url(../images/click.svg);
  background-position: center;
  background-repeat: no-repeat;

}

.modal-label-checkbox::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1.25px solid #2E2F42;
  border-radius: 2px;
  margin-right: 8px;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-tf);
} */


.modal-label-checkbox span {
  width: 16px;
  height: 16px;
  border: 1.25px solid #2E2F42;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-tf);
  fill: transparent;

}

.modal-label-checkbox{
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
  display: flex;
}


.modal-checkbox:checked + .modal-label-checkbox span {
  background-color: var(--accent-sait-color);
  border: none;
  fill: #F4F4FD;
}

/* .modal-checkbox:focus + .modal-label-checkbox span {
  border-color: var(--accent-sait-color);
} */

.modal-checkbox:focus + .modal-label-checkbox span {
  border: 2px solid var(--accent-sait-color);
}


/* --------Portfolio styles------------------ */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-nav-list {
  display: flex;
  margin: 0;
  margin-bottom: 72px;
  justify-content: center;
}

.portfolio-nav-item:not(:last-child) {
  margin-right: 24px;
}

.portfolio-nav {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  color: var(--accent-sait-color);
  background: #f4f4fd;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.04em;
  cursor: pointer;

  transition-property: background-color, color, box-shadow,  border;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-tf);
}

.portfolio-nav:hover,
.portfolio-nav:focus {
  background-color: var(--main-hover-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--main-hover-color);
}

/* ----------- Portfolio cards ----------- */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-cards {
  display: block;
  margin: 0;
  column-gap: 24px;
  row-gap: 48px;
  /* margin-right: 24px;
  margin-bottom: 48px; */
  width: 360px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

}

/* .portfolio-cards:nth-child(3n) {
  margin-right: 0;
}

.portfolio-cards:nth-child(n + 7) {
  margin-bottom: 0;
} */

.portfolio-img {
  display: block;
  width: auto;
}

.portfolio-sup-container {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #e7e9fc;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e7e9fc;

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #e7e9fc;
}

.portfolio-link {
  display: block;
  color: #434455;
}

.portfolio-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-subtitle {
  margin: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: var(--typical-ls);
  color: var(--second--text-color);
}

.portfolio-text {
  margin: 0;
  margin-top: 8px;

  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: var(--typical-ls);
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #4D5AE5;
  padding: 40px 32px 164px 32px;
  margin: 0;
  transform: translate(0, 100%);
  transition: transform 250ms var(--transition-tf);
}

.portfolio-overlay-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #F4F4FD;
  overflow: auto;
}

.portfolio-img-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-link:is(:hover, :focus) .portfolio-overlay {
  transform: translate(0, 0);
}

/* --------Contacts styles------------------ */

.contacts-page {
  padding-top: 60px;
  padding-bottom: 60px;
}

.sections-title-cont {
  margin: 0;
  margin-bottom: 60px;

  font-size: 36px;
  line-height: 1.1;
  letter-spacing: var(--typical-ls);
  text-transform: capitalize;
  color: var(--second--text-color);
  text-align: center;
}

.contacts-item-cont {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contacts-points-text {
  margin-right: 20px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: var(--typical-ls);
  text-transform: capitalize;
  color: var(--second--text-color);
}

.contacts-icon {
  display: block;
  margin-right: 40px;
}
.map-image {
  display: block;
  width: 1128px;
  height: 300px;
}
